## 5400 Group 8 Project Implementation
#### Name: Ariel Zhou, Jianyu Yue, Chenning Zhang, Xinyan Wang, Chenyang Li

### Step 1: Access data from the DOHMH New York City Restaurant Inspection Results API.
#### We suppose use the blow code to retrive data from the API server.

In [12]:
import pandas as pd
import requests
r = requests.get('https://data.cityofnewyork.us/resource/43nn-pn8j.json?$limit=393948')
json_items_api = r.json()
df_api = pd.DataFrame(json_items_api)
df_api

,camis,dba,boro,building,street,zipcode,phone,inspection_date,action,violation_code,...,latitude,longitude,community_board,council_district,census_tract,bin,bbl,nta,grade,grade_date
0,50047645,BOCELLI'S,Staten Island,1260,HYLAN BOULEVARD,10305,7184206150,2018-01-30T00:00:00.000,F,02G,...,40.597583526027,-74.084444856798,502,50,006400,5047240,5032200026,SI14,NaN,NaN
1,40734506,JOHN HUGHES KNIGHTS OF COLUMBUS CLUB,Brooklyn,1305,86 STREET,11228,7182598840,2016-05-14T00:00:00.000,D,10F,...,40.613816347354,-74.013506693381,310,43,015000,3165570,3063390001,BK30,A,2016-05-14T00:00:00.000
2,41385384,MIMI'S HUMMUS,Brooklyn,1209,CORTELYOU ROAD,11218,7182844444,2018-02-01T00:00:00.000,U,10F,...,40.640121103332,-73.96687208449,314,40,152200,3118320,3051430084,BK42,B,2018-02-01T00:00:00.000
3,41671851,MARTHA'S COUNTRY BAKERY,Queens,7028,AUSTIN ST,11375,7185440088,2019-12-26T00:00:00.000,D,06E,...,40.720611923178,-73.84606093149,406,29,071100,4077471,4032340183,QN17,A,2019-12-26T00:00:00.000
4,50016888,LOS TACOS MCONDO,Brooklyn,502,GRAND STREET,11211,3477631548,2018-04-12T00:00:00.000,D,06F,...,40.71097446593,-73.950781731316,301,34,051300,3323031,3027850005,BK73,A,2018-04-12T00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393863,50053689,BURGER KING,Brooklyn,2848,CHURCH AVENUE,11226,7182271100,2019-10-28T00:00:00.000,D,08A,...,40.650729396231,-73.950797516055,317,40,082400,3117273,3051050039,BK95,A,2019-10-28T00:00:00.000
393864,50012215,SKY CAFE,Queens,8620,WHITNEY AVE,11373,6462671767,2019-03-25T00:00:00.000,F,02B,...,40.741953172165,-73.87864529668,404,25,047100,4311588,4015790027,QN29,NaN,NaN
393865,50033970,DOMINO'S,Queens,9614,METROPOLITAN AVE,11375,7187932024,2019-03-18T00:00:00.000,D,10E,...,40.711295698745,-73.856276131486,406,29,064500,4606537,4038860846,QN17,A,2019-03-18T00:00:00.000
393866,41647241,JACK'S SLIDERS AND SUSHI,Manhattan,171,3 AVENUE,10003,2124662828,2019-06-27T00:00:00.000,D,08A,...,40.734784057145,-73.986075381503,106,02,004800,1019534,1008970043,MN21,A,2019-06-27T00:00:00.000
393867,41426289,GEORGINA RESTAURANT,Bronx,1003,EAST 163 STREET,10459,7183286257,2018-12-05T00:00:00.000,F,08A,...,40.820978117731,-73.893155134446,202,17,015900,2099788,2027240001,BX27,NaN,NaN

#### However, due to the data incompletion caused by a recent update of the API server, a lot of previously existing data such as inspection description were missing. Therefore, we could only load the previously preserved local json copy ("data_id.json") instead. 
#### ● The data will be retrieved in JSON format and stored as a Python list of dictionaries called "json_items" for later use.

In [ ]:
json_data=open('data_id.json').readlines()
json_items = []
for obj in json_data:
    json_items.append(json.loads(obj))

### Step 2: Create a MongoDB database collection called restaurants.

In [13]:
from pymongo import MongoClient
client = MongoClient('localhost',27017)
db = client.apan5400
collection = db.restaurants

#### Insert the previously stored json documents into the collection

In [ ]:
collection.insert_many(json_items)

###  Step 3: Deploy a REST API web service using Python Flask
We implemented three interfaces with three HTML files; each is connected to a different route for execution. 

#### Template 1: Inspection Query Form.html
##### @app.route('/')
This is the first interface shown to the users. It includes an input form asking for restaurant's name, boro (neighborhood), and zipcode. Users can enter the information correspondingly. If the inputs are not valid, an error code of "No Match Records" will be shown.  

#### Template 2: results2.html
##### @app.route('/inspection', methods=['POST'])
After users enter the information of their restaurants and click the send button, our program will run the restult2.html form and return a table of inspection records that match users' inputs. At the bottom of the page, there will be a form of inspection comments. Users can identify the inspection record to dispute, fill out the form with the record's unique ID along with users' comments. If the input ID is not valid or out of range, an error code of "ID Not Found" will be shown.  

#### Template 3: comment.html
##### @app.route('/comment', methods=['POST'])
After users submit their comments, their comments will be inserted as a new key-value pair to corresponding inspection record in the original MongoDB database collection. Everytime users enter a new comment related to the record, the comment value will be automatically updated.

In [9]:
import pandas as pd

In [14]:
from flask import Flask, request, render_template
app = Flask(__name__, template_folder = 'templates')

@app.route('/')

def my_form():
    return render_template("Inspection Query Form.html")

@app.route('/inspection', methods=['POST'])

def my_form_post():
    val_name= request.form['name']
    val_boro = request.form['boro']
    val_zipcode = request.form['zipcode']
    query_results = []
   
    query_results = collection.find({"DBA": val_name, "BORO": val_boro,"ZIPCODE":int(val_zipcode)})
    
    a = list(query_results)

    keys = ['ID','VIOLATION CODE','VIOLATION DESCRIPTION', 'INSPECTION TYPE','SCORE', 'GRADE DATE']
    
    df = pd.DataFrame(columns=keys)
    for i in range(0,len(a)):
        app = list(map(a[i].get, keys))
        dl = len(df)
        df.loc[dl] = app
   
    error_code = "No Match Inspection Records"
    if df.empty:
        return render_template('Inspection Query Form.html', val=error_code)
    else:
        return render_template('results2.html',  tables=[df.to_html(classes='data')], titles=df.columns.values)  


@app.route('/comment', methods=['POST'])

def my_form_retrieve():
    val_id = int(request.form['id'])
    val_comm = request.form['comment']
    
    query_comment = []
    collection.update_one({"ID": val_id},{"$set":{"Review":val_comm}})
    query_comment = collection.find({"ID": val_id})
    a = list(query_comment)
    keys = ['ID','VIOLATION CODE','VIOLATION DESCRIPTION', 'INSPECTION TYPE','SCORE', 'GRADE DATE',"Review"]
    df = pd.DataFrame(columns=keys)
    for i in range(0,len(a)):
        app = list(map(a[i].get, keys))
        dl = len(df)
        df.loc[dl] = app

    error_code = "ID Not Found"
    if df.empty:
        return render_template('results2.html', val=error_code)
    else:
        return render_template('comment.html',  tables=[df.to_html(classes='data')], titles=df.columns.values) 

app.run(host='localhost', port=5004)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://localhost:5004/ (Press CTRL+C to quit)
127.0.0.1 - - [18/Apr/2021 16:38:57] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2021 16:38:57] "GET /favicon.ico HTTP/1.1" 404 -
127.0.0.1 - - [18/Apr/2021 16:39:07] "POST /inspection HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2021 16:39:18] "POST /inspection HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2021 16:39:27] "POST /comment HTTP/1.1" 200 -
127.0.0.1 - - [18/Apr/2021 16:39:36] "POST /comment HTTP/1.1" 200 -